{{ faIco('object-group fa-fw bg-red')}}
		<div class="timeline-item">
			<span class="time">{{ faIco('calendar fa-fw') }} &nbsp; {{ trace.dtCrea|localeDate('long')  }} &nbsp; {{ faIco('clock-o fa-fw') }} &nbsp; {{ trace.dtCrea|localeDate('none', 'medium')  }}</span>
			<h3 class="timeline-header"> {{ ('Entity.'~trace.actionEntity~'.delete')|trans }} <span class="pull-right">(<b>{{ trace.userFullName }}</b>)</span></h3>
			<div class="timeline-body">
				<table class="table table-bordered table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th class="text-left" style="width: 33%">{{'Entity.field' | trans}}</th>
							<th class="text-left">{{'Entity.val' | trans}}</th>
						</tr>
					</thead>
					<tbody>
					{% for entityFieldName, entityFieldValue in trace.decodedMsg %}
						<tr>
							<td>
								{{ (trace.actionEntity~'.'~entityFieldName)|trans }}
							</td>
							<td>
								{% if entityFieldValue != null %}
									{% if entityFieldName == 'id' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'name' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'dtCrea' %}
										{% if entityFieldValue.timezone_type != 3 %}
										{{ date(entityFieldValue.date~ ' ' ~entityFieldValue.timezone)|localeDate('short', 'long') }}
										{% else %}
										{{ date(entityFieldValue.date, entityFieldValue.timezone)|localeDate('short', 'long') }}
										{% endif %}
									{% elseif entityFieldName == 'dtUpdate' %}
										{% if entityFieldValue.timezone_type != 3 %}
										{{ date(entityFieldValue.date~ ' ' ~entityFieldValue.timezone)|localeDate('short', 'long') }}
										{% else %}
										{{ date(entityFieldValue.date, entityFieldValue.timezone)|localeDate('short', 'long') }}
										{% endif %}
									{% elseif entityFieldName == 'moduleformations' %}
										{% for key, moduleformation in entityFieldValue %}
											{% if moduleformation is not empty %}- <a href="{{ path('ilcfrance_orangetools_admin_moduleformation_editGet', {'id': moduleformation.id})}}">{{ moduleformation.code }} {{ moduleformation.title }}</a><br/>{% endif %}
										{% endfor %}
									{% endif %}
								{% else %}
									{{ bsLabelWarning('value.null'|trans) }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

			</div>
		</div>