{% extends 'IlcfranceOrangetoolsResBundle::admin.template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_orangetools_front_homepage')}}"> {{ faIco('home fa-fw')}} {{ 'ilcfrance.orangetools.front.homepage.breadcrumb'|trans }}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_orangetools_front_preamble')}}"> {{ faIco('info-circle fa-fw')}} {{ 'ilcfrance.orangetools.front.preamble.breadcrumb'|trans }}</a></li>
</ol>
{%endblock breadcrumb%}
{%block maincontent%}
<div class="row">
	<div class="col-lg-12">
		<div class="box box-danger">
			<div class="box-header">
				<h3 class="box-title">Préambule</h3>
			</div>
			<div class="box-body">
				<p>ILC France  dispose d’un outil informatique dédié à la réservation de formation en ligne.<br/>
				Cet outil procure une visibilité sur l’offre.<br/>
				Cet outil informatique (dénommé ONLINE BOOKING) se présente sous forme d’une Centrale de réservation , accessible via le site de ILC France à l’adresse suivante <a href="{{ path('ilcfrance_orangetools_front_homepage') }}">bookingonline.orangetools.ilcfrance.com</a>
				</p>
				<br/>
				<p>
				Particulièrement adapté aux modules de formation intensives , ce système permet en particulier<br/>
				<ul>
					<li>de visualiser le planning pour optimiser les agendas;</li>
					<li>de faciliter les ouvertures des stages pour compresser le temps des mises en places.</li>
				</ul>
				</p>
				<br/>
				<p>
				Le présent manuel de procédure a pour objectif de faciliter le travail de chacun et d’alléger la charge de travail administratif des uns et des autres.<br/>
				Ces procédures ne sont ni figées, ni définitives et pourront évoluer en fonction de vos remarques et suggestions.<br/>
				</p>
			</div>
		</div>
	</div>
</div>
{%endblock maincontent%}