{% extends 'IlcfranceOrangetoolsResBundle::admin.template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_orangetools_admin_homepage')}}"> {{ faIco('home fa-fw')}} {{ 'ilcfrance.orangetools.admin.homepage.breadcrumb'|trans }}</a></li>
	<li><a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_list')}}"> {{ faIco('calendar-check-o fa-fw')}} {{ 'ilcfrance.orangetools.admin.Sessioninscription.list.breadcrumb'|trans }}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_addGet')}}"> {{ faIco('plus fa-fw')}} {{ 'ilcfrance.orangetools.admin.Sessioninscription.add.breadcrumb'|trans }}</a></li>
</ol>
{%endblock breadcrumb%}
{%block maincontent%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_list') }}" class="btn btn-default">{{ faIco('list fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_addGet') }}" class="btn btn-default">{{ faIco('plus fa-fw') }}</a>
		</div>
		<div class="box box-danger">
			<div class="box-header">
				<h3 class="box-title">{{ faIco('calendar-check-o fa-fw')}} <i class="fa fa-plus fa-fw text-red"></i> {{ 'ilcfrance.orangetools.admin.Sessioninscription.add.tlabel'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(SessioninscriptionNewForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessioninscription_addPost'), 'style': 'horizontal'})}}
				{{form_row(SessioninscriptionNewForm.user, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'Option.choose'}, 'input_group': {'append': faIco('user fa-fw')} })}}
				{{form_row(SessioninscriptionNewForm.sessionformation, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'Option.choose'}, 'input_group': {'append': faIco('calendar fa-fw')} })}}
				{{form_row(SessioninscriptionNewForm.convocation, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'Option.choose'}, 'input_group': {'append': faIco('info fa-fw')} })}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
					<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o fa-fw')}} {{'ilcfrance.orangetools.admin.SessioninscriptionNewForm.btnSubmit'|trans|raw}}</button>
				</div></div>
				{{form_end(SessioninscriptionNewForm)}}
			</div>
		</div>
	</div>
</div>
{%endblock maincontent%}
{%block body_scripts%}
{{ parent()}}
<script type="text/javascript">
<!--
$(function() {
	$('#SessioninscriptionNewForm_user').select2();
	$('#SessioninscriptionNewForm_sessionformation').select2();
	$('#SessioninscriptionNewForm_convocation').select2();
});
//-->
</script>
{%endblock body_scripts%}