{% extends 'IlcfranceOrangetoolsResBundle::admin.template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_orangetools_admin_homepage')}}"> {{ faIco('home')}} {{ 'ilcfrance.orangetools.admin.homepage.breadcrumb'|trans }}</a></li>
	<li><a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_list')}}"> {{ faIco('calendar-check-o')}} {{ 'ilcfrance.orangetools.admin.Sessioninscription.list.breadcrumb'|trans }}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_listBySessionformation', {'id': sessionformation.id})}}"> {{ faIco('calendar-check-o')}} {{ 'ilcfrance.orangetools.admin.Sessioninscription.listBySessionformation.breadcrumb'|trans({'%sessionformation%': sessionformation.code})|raw }}</a></li>
</ol>
{%endblock breadcrumb%}
{%block maincontent%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_list') }}" class="btn btn-default">{{ faIco('list') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_addGet') }}" class="btn btn-default">{{ faIco('plus') }}</a>
		</div>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ faIco('calendar-check-o')}} <i class="fa fa-list text-aqua"></i> {{ 'ilcfrance.orangetools.admin.Sessioninscription.listBySessionformation.tlabel'|trans({'%sessionformation%': sessionformation.code})|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table id="sessioninscriptionList" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>{{ 'ilcfrance.orangetools.admin.Sessioninscription.user.label'|trans|raw }}</th>
							<th>{{ 'ilcfrance.orangetools.admin.Sessioninscription.sessionformation.label'|trans|raw }}</th>
							<th>{{ 'ilcfrance.orangetools.admin.Sessioninscription.convocation.label'|trans|raw }}</th>
							<th>{{ 'ilcfrance.orangetools.admin.Sessioninscription.dtCrea.label'|trans|raw }}</th>
							<th>{{ 'actions.label'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% if sessioninscriptions|length != 0 %}
						{% for sessioninscription in sessioninscriptions %}
						<tr>
							<td><a href="{{ path('ilcfrance_orangetools_admin_trainee_editGet', {'id': sessioninscription.user.id}) }}">{{ sessioninscription.user.fullName }} ({{ sessioninscription.user.username }})</a></td>
							<td><a href="{{ path('ilcfrance_orangetools_admin_sessionformation_editGet', {'id': sessioninscription.sessionformation.id}) }}">{{ sessioninscription.sessionformation.code }} ({{ sessioninscription.sessionformation.moduleformation.title }} - {{ sessioninscription.sessionformation.title }} - {{ sessioninscription.sessionformation.dtStart|date('Y-m-d', timezone) }} {{ faIco('at') }} {{ sessioninscription.sessionformation.dtStart|date('H:i:s', timezone) }} / {{ sessioninscription.sessionformation.dtEnd|date('Y-m-d', timezone) }} {{ faIco('at') }} {{ sessioninscription.sessionformation.dtEnd|date('H:i:s', timezone) }} - {{ sessioninscription.sessionformation.location }})</a></td>
							<td>{{ ('Sessioninscription.convocation.'~sessioninscription.convocation)|trans }}</td>
							<td class="text-right">{{ sessioninscription.dtCrea|date('Y-m-d') }} {{faIco('at')}} {{ sessioninscription.dtCrea|localeDate('none', 'long') }}</td>
							<td class="text-right">
								<a class="btn btn-sm btn-info" href="{{path('ilcfrance_orangetools_admin_sessioninscription_editGet',{'id':sessioninscription.id})}}">{{ faIco('edit') }} {{ 'action.edit'|trans }}</a>
								<a class="btn btn-sm btn-danger deleteConfirmSessioninscription" href="{{path('ilcfrance_orangetools_admin_sessioninscription_delete',{'id':sessioninscription.id})}}">{{ faIco('trash') }} {{ 'action.delete'|trans }}</a>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="5">{{ 'ilcfrance.orangetools.admin.Sessioninscription.empty'|trans|raw }}</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="deleteConfirmSessioninscription" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'ilcfrance.orangetools.admin.Sessioninscription.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'ilcfrance.orangetools.admin.Sessioninscription.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'action.ok'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'action.cancel'|trans|raw}}</button>
	</div>
</div>
{%endblock maincontent%}
{%block body_scripts%}
{{ parent()}}
<script type="text/javascript">
<!--
$(function() {
	{% if sessioninscriptions|length != 0 %}
	$('#sessioninscriptionList').dataTable({
		"bAutoWidth": false,
		"language": {"url": '{{asset('assets/bower/datatables-i18n/i18n/')~app.request.locale~".json"}}'},
		"columns": [
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmSessioninscription').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmSessioninscription').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmSessioninscription').modal('show');
			});
		}
	});
	{% endif %}
});
//-->
</script>
{%endblock body_scripts%}