{% extends 'IlcfranceOrangetoolsResBundle::admin.template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_orangetools_admin_homepage')}}"> {{ faIco('home')}} {{ 'ilcfrance.orangetools.admin.homepage.breadcrumb'|trans }}</a></li>
	<li><a href="{{ path('ilcfrance_orangetools_admin_sessionformation_list')}}"> {{ faIco('calendar')}} {{ 'ilcfrance.orangetools.admin.Sessionformation.list.breadcrumb'|trans|raw }}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_orangetools_admin_sessionformation_editGet', {'id': sessionformation.id})}}"> {{ faIco('edit')}} {{ 'ilcfrance.orangetools.admin.Sessionformation.edit.breadcrumb'|trans({'%sessionformation%': sessionformation.code})|raw }}</a></li>
</ol>
{%endblock breadcrumb%}
{%block maincontent%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_orangetools_admin_sessionformation_list') }}" class="btn btn-default">{{ faIco('list') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_sessionformation_export') }}" class="btn btn-default">{{ faIco('file-excel-o') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_sessionformation_addGet') }}" class="btn btn-default">{{ faIco('plus') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_sessionformation_importGet') }}" class="btn btn-default">{{ faIco('plus-circle') }}</a>
		</div>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'ilcfrance.orangetools.admin.Sessionformation.edit.tab.overview'|trans|raw}}</a></li>
				<li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'ilcfrance.orangetools.admin.Sessionformation.edit.tab.update'|trans|raw}}</a></li>
				<li {%if tabActive==3%} class="active"{%endif%}><a href="#sessioninscriptions" data-toggle="tab">{{'ilcfrance.orangetools.admin.Sessionformation.edit.tab.sessioninscriptions'|trans|raw}}</a></li>
				<li {%if tabActive==100%} class="active"{%endif%}><a href="#Logs" data-toggle="tab">{{'ilcfrance.orangetools.admin.Sessionformation.edit.tab.logs'|trans|raw}}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="panel box box-primary">
						<div class="box-header"><h3 class="box-title">{{ faIco('calendar text-primary')}} {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.overview'|trans}}</h3></div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-3 text-right">{{'Sessionformation.moduleformation'|trans|raw}} :</div>
								<div class="col-lg-9"><a href="{{ path('ilcfrance_orangetools_admin_moduleformation_editGet', {'id': sessionformation.moduleformation.id}) }}">{{ sessionformation.moduleformation.code }}</a>&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.code'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.code}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.title'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.title}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.dtStart'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sessionformation.dtStart|date('Y-m-d', timezone) }} {{faIco('at')}} {{ sessionformation.dtStart|date('H:i:s', timezone) }}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sessionformation.dtEnd'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sessionformation.dtEnd|date('Y-m-d', timezone) }} {{faIco('at')}} {{ sessionformation.dtEnd|date('H:i:s', timezone) }}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sessionformation.location'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.location|raw}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.phoneContactCenter'|trans|raw}} :</div>
								<div class="col-lg-9">{{ sessionformation.phoneContactCenter|default(bsLabel('value.null'|trans|raw)|raw)|raw }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.conditionsReport'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.conditionsReport|default(bsLabel('value.null'|trans|raw)|raw)|raw }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.dtInfo'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.dtInfo|default(bsLabel('value.null'|trans|raw)|raw)|raw }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.otherInfos'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.otherInfos|default(bsLabel('value.null'|trans|raw)|raw)|raw }}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.lockout'|trans|raw}} :</div>
								<div class="col-lg-9">{{ ('Sessionformation.lockout.'~sessionformation.lockout)|trans }}&nbsp;
								{% if sessionformation.lockout == constant('LOCKOUT_LOCKED', sessionformation)%}
								<br/>
								<br/>
								{{form_start(SessioninscriptionSendConvocationForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
								<div class="form-group"><div class="col-lg-1">
								<button class="btn btn-danger" type="submit">{{faIco('envelope')}}</button>
								</div></div>
								{{form_end(SessioninscriptionSendConvocationForm)}}
								{% endif %}
								</div>
								<div class="col-lg-12">&nbsp;</div>



								<div class="col-lg-3 text-right">{{'Sessionformation.maxParticipants'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.maxParticipants}}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-3 text-right">{{'Sessionformation.sessioninscriptions'|trans|raw}} :</div>
								<div class="col-lg-9">{% if sessionformation.sessioninscriptions|length == 0%}{{ sessionformation.sessioninscriptions|length }}{% else %}<a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_listBySessionformation', {'id': sessionformation.id}) }}">{{ sessionformation.sessioninscriptions|length }}</a>{% endif %}&nbsp;</div>
								<div class="col-lg-12">&nbsp;</div>

								<div class="col-lg-12">&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sessionformation.dtCrea'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.dtCrea|localeDate('medium')}} {{faIco('at')}} {{sessionformation.dtCrea|localeDate('none', 'long')}}&nbsp;</div>
								<div class="col-lg-3 text-right">{{'Sessionformation.dtUpdate'|trans|raw}} :</div>
								<div class="col-lg-9">{{sessionformation.dtUpdate|localeDate('medium')}} {{faIco('at')}} {{sessionformation.dtUpdate|localeDate('none', 'long')}}&nbsp;</div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateModuleformation'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateModuleformationForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateModuleformationForm.moduleformation, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'Option.choose'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateModuleformationForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateModuleformationForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateCode'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateCodeForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateCodeForm.code, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateCodeForm.code.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateCodeForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateCodeForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateTitle'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateTitleForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateTitleForm.title, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateTitleForm.title.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateTitleForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateTitleForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateDtStart'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateDtStartForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateDtStartForm.dtStart, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateDtStartForm.dtStart.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							{{form_row(SessionformationUpdateDtStartForm.dtEnd, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateDtStartForm.dtEnd.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateDtStartForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateDtStartForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateLocation'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateLocationForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateLocationForm.location, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateLocationForm.location.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateLocationForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateLocationForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updatePhoneContactCenter'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdatePhoneContactCenterForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdatePhoneContactCenterForm.phoneContactCenter, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdatePhoneContactCenterForm.phoneContactCenter.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdatePhoneContactCenterForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdatePhoneContactCenterForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateConditionsReport'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateConditionsReportForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateConditionsReportForm.conditionsReport, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateConditionsReportForm.conditionsReport.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateConditionsReportForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateConditionsReportForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateDtInfo'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateDtInfoForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateDtInfoForm.dtInfo, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateDtInfoForm.dtInfo.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateDtInfoForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateDtInfoForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateOtherInfos'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateOtherInfosForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateOtherInfosForm.otherInfos, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationNewForm.otherInfos.placeholder', 'class': 'wysiwyg'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateOtherInfosForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateOtherInfosForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateMaxParticipants'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateMaxParticipantsForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateMaxParticipantsForm.maxParticipants, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateMaxParticipantsForm.maxParticipants.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateMaxParticipantsForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateMaxParticipantsForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit text-red"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.updateLockout'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(SessionformationUpdateLockoutForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
							{{form_row(SessionformationUpdateLockoutForm.lockout, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.SessionformationUpdateLockoutForm.lockout.placeholder'}, 'input_group': {'append': faIco('info')} })}}
							<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
								<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessionformationUpdateLockoutForm.btnSubmit'|trans|raw}}</button>
							</div></div>
							{{form_end(SessionformationUpdateLockoutForm)}}
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==3%} in active{%endif%}" id="sessioninscriptions">
					<div id="accordion0030" class="box-group">
						<div class="panel box box-danger">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse0031" data-parent="#accordion0030" data-toggle="collapse">{{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.sessioninscriptions.add'|trans}}</a></h4>
							</div>
							<div id="collapse0031" class="panel-collapse collapse{%if tabActive==3 and stabActive==1 %} in{%endif%}">
								<div class="box-body">
									{{form_start(SessioninscriptionNewForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_sessionformation_editPost', {'id': sessionformation.id}), 'style': 'horizontal'})}}
									{{form_row(SessioninscriptionNewForm.user, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'Option.choose'}, 'input_group': {'append': faIco('user')} })}}
									{{form_row(SessioninscriptionNewForm.sessionformation, {'label_col': 3, 'widget_col': 8, 'attr': {'row_class': 'hidden'} })}}
									{{form_row(SessioninscriptionNewForm.convocation, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'Option.choose'}, 'input_group': {'append': faIco('info')} })}}
									<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
										<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o')}} {{'ilcfrance.orangetools.admin.SessioninscriptionNewForm.btnSubmit'|trans|raw}}</button>
									</div></div>
									{{form_end(SessioninscriptionNewForm)}}
								</div>
							</div>
						</div>
						<div class="panel box">
							<div class="box-header">
								<h4 class="box-title"><a href="#collapse0032" data-parent="#accordion0030" data-toggle="collapse">{{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.sessioninscriptions.list'|trans}}</a></h4>
							</div>
							<div id="collapse0032" class="panel-collapse collapse{%if (tabActive==3 and stabActive==2) or tabActive!=3%} in{%endif%}">
								<div class="box-body table-responsive">
									<table id="sessionformationList" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>{{ 'ilcfrance.orangetools.admin.Sessioninscription.user.label'|trans|raw }}</th>
												<th>{{ 'ilcfrance.orangetools.admin.Sessioninscription.convocation.label'|trans|raw }}</th>
												<th>{{ 'ilcfrance.orangetools.admin.Sessioninscription.dtCrea.label'|trans|raw }}</th>
												<th>{{ 'actions.label'|trans|raw }}</th>
											</tr>
										</thead>
										<tbody>
										{% if sessionformation.sessioninscriptions|length != 0 %}
											{% for sessioninscription in sessionformation.sessioninscriptions %}
											<tr>
												<td>{{ sessioninscription.user.fullName }}</td>
												<td>{{ ('Sessioninscription.convocation.'~sessioninscription.convocation)|trans }}</td>
												<td class="text-right">{{ sessioninscription.dtCrea|date('Y-m-d') }} {{faIco('at')}} {{ sessioninscription.dtCrea|localeDate('none', 'long') }}</td>
												<td class="text-right">
													<a class="btn btn-sm btn-info" href="{{path('ilcfrance_orangetools_admin_sessioninscription_editGet',{'id':sessioninscription.id})}}">{{ faIco('edit') }} {{ 'action.edit'|trans }}</a>
													<a class="btn btn-sm btn-danger deleteConfirmSessioninscription" href="{{path('ilcfrance_orangetools_admin_sessioninscription_delete',{'id':sessioninscription.id})}}">{{ faIco('trash') }} {{ 'action.delete'|trans }}</a>
												</td>
											</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td colspan="4">{{ 'ilcfrance.orangetools.admin.Sessionformation.empty'|trans|raw }}</td>
											</tr>
										{% endif %}
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==100%} in active{%endif%}" id="Logs">
					<div class="panel box box-warning">
						<div class="box-header">
							<h4 class="box-title"> <i class="fa fa-history text-orange"></i> {{'ilcfrance.orangetools.admin.Sessionformation.edit.tlabel.logs'|trans}}</h4>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-lg-12">
									{{ include('IlcfranceOrangetoolsAdminBundle:Trace:show.html.twig', {traces: traces}) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="deleteConfirmSessioninscription" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'ilcfrance.orangetools.admin.Sessioninscription.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'ilcfrance.orangetools.admin.Sessioninscription.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'action.ok'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'action.cancel'|trans|raw}}</button>
	</div>
</div>
{%endblock maincontent%}
{%block body_scripts%}
{{ parent()}}
<script type="text/javascript">
<!--
$(function() {
	$('#SessionformationUpdateModuleformationForm_moduleformation').select2();

	$('#SessionformationUpdateDtStartForm_dtStart').datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 0,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd hh:ii:ss'
	});

	$('#SessionformationUpdateDtStartForm_dtEnd').datetimepicker({
		weekStart: 1,
		startView: 4,
		minView: 0,
		autoclose: true,
		todayHighlight: true,
		language: "{{app.request.locale}}",
		format: 'yyyy-mm-dd hh:ii:ss'
	});

	$('#SessionformationUpdateLockoutForm_lockout').select2();

	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		var target = $(e.target).attr("href") // activated tab
		if (target == '#edit') {
			$('#SessionformationUpdateModuleformationForm_moduleformation').select2("destroy");
			$('#SessionformationUpdateModuleformationForm_moduleformation').select2();
			$('#SessionformationUpdateLockoutForm_lockout').select2("destroy");
			$('#SessionformationUpdateLockoutForm_lockout').select2();
		}

	});

	$('#SessioninscriptionNewForm_user').select2();
	$('#SessioninscriptionNewForm_convocation').select2();

	$('#collapse0031').on('shown.bs.collapse', function (e) {
		$('#SessioninscriptionNewForm_user').select2("destroy");
		$('#SessioninscriptionNewForm_user').select2();
		$('#SessioninscriptionNewForm_convocation').select2("destroy");
		$('#SessioninscriptionNewForm_convocation').select2();
	});


	$('textarea.wysiwyg').each(function() {
		var options = {
			script_url : '{{asset('assets/bower/tinymce-dist/tinymce.min.js')}}',
			language_url : '{{ asset('assets/bower/ivan-chkv.tinymce-i18n/langs/'~app.request.locale~'.js') }}',
			language : '{{ app.request.locale }}',
			theme: "modern",
			plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
			toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
		};
		$this = $(this);
		if($this.is('[required]')) {
			options.oninit = function(editor) {
				editor.on('change', function(e) {
					editor.save();
				});
			}
		}
		$this.tinymce(options);
	});
	{% if sessionformation.sessioninscriptions|length != 0 %}
	$('#sessioninscriptionList').dataTable({
		"bAutoWidth": false,
		"language": {"url": '{{asset('assets/bower/datatables-i18n/i18n/')~app.request.locale~".json"}}'},
		"columns": [
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmSessioninscription').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmSessioninscription').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmSessioninscription').modal('show');
			});
		}
	});
	{% endif %}
});
//-->
</script>
{%endblock body_scripts%}