{% extends 'IlcfranceOrangetoolsResBundle::admin.template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	{% if is_granted('ROLE_ADMIN') %}
	<li><a href="{{ path('ilcfrance_orangetools_admin_homepage')}}"> {{ faIco('home fa-fw')}} {{ 'ilcfrance.orangetools.admin.homepage.breadcrumb'|trans }}</a></li>
	{% else %}
	<li><a href="{{ path('ilcfrance_orangetools_front_homepage')}}"> {{ faIco('home fa-fw')}} {{ 'ilcfrance.orangetools.front.homepage.breadcrumb'|trans }}</a></li>
	{% endif %}
	<li class="active"><a href="{{ path('ilcfrance_orangetools_security_profile')}}"> {{ 'ilcfrance.orangetools.security.profile.breadcrumb'|trans}}</a></a></li>
</ol>
{%endblock breadcrumb%}
{%block maincontent%}
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li{%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{ 'ilcfrance.orangetools.security.profile.tab.overview'|trans }}</a></li>
				<li{%if tabActive==2%} class="active"{%endif%}><a href="#update" data-toggle="tab">{{ 'ilcfrance.orangetools.security.profile.tab.edit'|trans }}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
					<div class="box-header"><h3 class="box-title"><i class="fa fa-user text-aqua"></i> {{ 'ilcfrance.orangetools.security.profile.tlabel.overview'|trans }}</h3></div>
					<div class="box-body">
						<div class="row">
							<div class="col-lg-3 text-right">{{'User.username'|trans }} :</div>
							<div class="col-lg-9">{{user.username}}</div>
							<div class="col-lg-3 text-right">{{'User.email'|trans}} :</div>
							<div class="col-lg-9">
								<a href="mailto:{{user.email}}">{{user.email}}</a>
							</div>
							<div class="col-lg-3 text-right">{{'User.dtCrea'|trans}} :</div>
							<div class="col-lg-9">{{user.dtCrea|localeDate('long')}} {{faIco('at fa-fw')}} {{user.dtCrea|localeDate('none','long')}}</div>
							<div class="col-lg-3 text-right">{{'User.logins'|trans}} :</div>
							<div class="col-lg-9">{{user.logins}}</div>
							<div class="col-lg-3 text-right">{{'User.lastLogin'|trans}} :</div>
							<div class="col-lg-9">{{user.lastLogin|localeDate('long')}} {{faIco('at fa-fw')}} {{user.lastLogin|localeDate('none', 'long')}}</div>
						</div>
						<div class="row">
							<div class="col-lg-12"><br></div>
							<div class="col-lg-3 text-right">{{'User.lastName'|trans}} :</div>
							<div class="col-lg-9">{{user.lastName}}</div>
							<div class="col-lg-3 text-right">{{'User.firstName'|trans}} :</div>
							<div class="col-lg-9">{{user.firstName}}</div>

							<div class="col-lg-12"><br></div>
							<div class="col-lg-3 text-right">{{'User.phone'|trans}} :</div>
							<div class="col-lg-9">
								{%if user.phone is not null%}{{faIco('phone fa-fw')}} <a href="tel:{{user.phone}}">{{user.phone}}</a>{%else%}{{bsLabelWarning('value.null'|trans|raw)}}{%endif%}
							</div>

							<div class="col-lg-12"><br></div>
							<div class="col-lg-3 text-right">{{'User.mobile'|trans}} :</div>
							<div class="col-lg-9">
								{%if user.mobile is not null%}{{faIco('mobile fa-fw')}} <a href="tel:{{user.mobile}}">{{user.mobile}}</a>{%else%}{{bsLabelWarning('value.null'|trans|raw)}}{%endif%}
							</div>
						</div>
						{% if is_granted('ROLE_TRAINEE') %}
						<div class="row">
							<div class="col-lg-12"><br></div>
							<div class="col-lg-3 text-right">{{'User.job'|trans}} :</div>
							<div class="col-lg-9">
								{%if user.job is not empty %}{{user.job}}{%else%}{{bsLabel('value.null'|trans|raw)}}{%endif%}
							</div>
							<div class="col-lg-12"><br></div>
							<div class="col-lg-3 text-right">{{'User.level'|trans}} :</div>
							<div class="col-lg-9">
								{%if user.level is not empty %}{{user.level}}{%else%}{{bsLabel('value.null'|trans|raw)}}{%endif%}
							</div>
							<div class="col-lg-12"><br></div>
							<div class="col-lg-3 text-right">{{'User.validUntil'|trans}} :</div>
							<div class="col-lg-9">
								{%if user.validUntil is not empty %}{{user.validUntil|localeDate('long')}} {{faIco('at fa-fw')}} {{user.validUntil|localeDate('none', 'long')}}{%else%}{{bsLabel('value.null'|trans|raw)}}{%endif%}
							</div>
						</div>
						{% if user.modulepreinscriptions|length != 0 %}
						<div class="row">
							<div class="col-lg-12"><br></div>
							<div class="col-lg-3 text-right">{{'User.modulepreinscriptions'|trans}} :</div>
							<div class="col-lg-9">
								<ul>
									{% for modulepreinscription in user.modulepreinscriptions %}
									<li>
										{{ modulepreinscription.moduleformation.code }} - {{ modulepreinscription.moduleformation.title }}
										{%if modulepreinscription.moduleformation.description is not empty %}{{ modulepreinscription.moduleformation.description|raw }}{% else %}<br/>{% endif %}
										<br/>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{% endif %}
						{% if user.sessioninscriptions|length != 0 %}
						<div class="row">
							<div class="col-lg-12"><br></div>
							<div class="col-lg-3 text-right">{{'User.sessioninscriptions'|trans}} :</div>
							<div class="col-lg-9">
								<ul>
									{% for sessioninscription in user.sessioninscriptions %}
									<li>
										<u><i>{{ sessioninscription.sessionformation.title }}</i></u> <small>({{ sessioninscription.sessionformation.code }})</small><br/>
										{{ faIco('clock-o fa-fw') }} <b>{{ sessioninscription.sessionformation.dtStart|date('d/m/Y', timezone) }}</b> {{faIco('at fa-fw')}} <b>{{ sessioninscription.sessionformation.dtStart|date('H:i:s', timezone) }}</b> {{ faIco('arrow-right fa-fw') }} {{ faIco('clock-o fa-fw') }} <b>{{ sessioninscription.sessionformation.dtEnd|date('d/m/Y', timezone) }}</b> {{faIco('at fa-fw')}} <b>{{ sessioninscription.sessionformation.dtEnd|date('H:i:s', timezone) }}</b> {%if sessioninscription.sessionformation.dtInfo is not empty %}({{ sessioninscription.sessionformation.dtInfo }}){% endif %}<br/>
										{{ faIco('map-marker fa-fw') }} <b>{{ sessioninscription.sessionformation.location|raw }}</b><br/>
										{%if sessioninscription.sessionformation.otherInfos is not empty %}{{ faIco('info-circle fa-fw') }} {{ sessioninscription.sessionformation.otherInfos|raw }}<br/>{% endif %}
										{%if sessioninscription.sessionformation.conditionsReport is not empty %}{{ faIco('warning fa-fw') }} {{ 'Sessionformation.conditionsReport'|trans|raw }} : <u>{{ sessioninscription.sessionformation.conditionsReport }}</u><br/>{% endif %}
										{%if sessioninscription.sessionformation.phoneContactCenter is not empty %}{{ faIco('phone fa-fw') }} <u>{{ sessioninscription.sessionformation.phoneContactCenter }}</u><br/>{% endif %}
										<br/>
										<br/>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="update">
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit fa-fw text-red"></i> {{'ilcfrance.orangetools.security.profile.tlabel.updateEmail'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdateEmailForm, {'method':'POST', 'action': path('ilcfrance_orangetools_security_profile_post'), 'style': 'horizontal'})}}
							{{form_row(UserUpdateEmailForm.email, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.security.UserUpdateEmailForm.email.placeholder'}, 'input_group': {'append': faIco('envelope fa-fw')} })}}
							<div class="row">
								<div class="col-lg-offset-4 col-lg-4"><button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o fa-fw')}} {{'ilcfrance.orangetools.security.UserUpdateEmailForm.btnSubmit'|trans|raw}}</button></div>
							</div>
							{{form_end(UserUpdateEmailForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit fa-fw text-red"></i> {{'ilcfrance.orangetools.security.profile.tlabel.updatePassword'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdatePasswordForm, {'method':'POST', 'action': path('ilcfrance_orangetools_security_profile_post'), 'style': 'horizontal'})}}
							{{form_row(UserUpdatePasswordForm.oldPassword, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.security.UserUpdatePasswordForm.oldPassword.placeholder'}, 'input_group': {'append': faIco('lock fa-fw')} })}}
							{{form_row(UserUpdatePasswordForm.clearPassword, {'label_col': 4, 'widget_col': 8} )}}
							<div class="row">
								<div class="col-lg-offset-4 col-lg-4"><button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o fa-fw')}} {{'ilcfrance.orangetools.security.UserUpdatePasswordForm.btnSubmit'|trans|raw}}</button></div>
							</div>
							{{form_end(UserUpdatePasswordForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit fa-fw text-red"></i> {{'ilcfrance.orangetools.security.profile.tlabel.updateInfos'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdateInfosForm, {'method':'POST', 'action': path('ilcfrance_orangetools_security_profile_post'), 'style': 'horizontal'})}}
							{{form_row(UserUpdateInfosForm.lastName, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.security.UserUpdateInfosForm.lastName.placeholder'}, 'input_group': {'append': faIco('info-circle fa-fw')} })}}
							{{form_row(UserUpdateInfosForm.firstName, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.security.UserUpdateInfosForm.firstName.placeholder'}, 'input_group': {'append': faIco('info-circle fa-fw')} })}}
							<div class="row">
								<div class="col-lg-offset-4 col-lg-4"><button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o fa-fw')}} {{'ilcfrance.orangetools.security.UserUpdateInfosForm.btnSubmit'|trans|raw}}</button></div>
							</div>
							{{form_end(UserUpdateInfosForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit fa-fw text-red"></i> {{'ilcfrance.orangetools.security.profile.tlabel.updatePhone'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdatePhoneForm, {'method':'POST', 'action': path('ilcfrance_orangetools_security_profile_post'), 'style': 'horizontal'})}}
							{{form_row(UserUpdatePhoneForm.phone, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.security.UserUpdatePhoneForm.phone.placeholder'}, 'input_group': {'append': faIco('phone fa-fw')} })}}
							<div class="row">
								<div class="col-lg-offset-4 col-lg-4"><button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o fa-fw')}} {{'ilcfrance.orangetools.security.UserUpdatePhoneForm.btnSubmit'|trans|raw}}</button></div>
							</div>
							{{form_end(UserUpdatePhoneForm)}}
						</div>
					</div>
					<div class="panel box box-danger">
						<div class="box-header"><h3 class="box-title"> <i class="fa fa-edit fa-fw text-red"></i> {{'ilcfrance.orangetools.security.profile.tlabel.updateMobile'|trans}}</h3></div>
						<div class="box-body">
							{{form_start(UserUpdateMobileForm, {'method':'POST', 'action': path('ilcfrance_orangetools_security_profile_post'), 'style': 'horizontal'})}}
							{{form_row(UserUpdateMobileForm.mobile, {'label_col': 4, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.security.UserUpdateMobileForm.mobile.placeholder'}, 'input_group': {'append': faIco('mobile fa-fw')} })}}
							<div class="row">
								<div class="col-lg-offset-4 col-lg-4"><button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o fa-fw')}} {{'ilcfrance.orangetools.security.UserUpdateMobileForm.btnSubmit'|trans|raw}}</button></div>
							</div>
							{{form_end(UserUpdateMobileForm)}}
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{%endblock maincontent%}
