{% extends 'IlcfranceOrangetoolsResBundle::admin.template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_orangetools_admin_homepage')}}"> {{ faIco('home fa-fw')}} {{ 'ilcfrance.orangetools.admin.homepage.breadcrumb'|trans }}</a></li>
	<li><a href="{{ path('ilcfrance_orangetools_admin_trainee_list')}}"> {{ faIco('user fa-fw')}} {{ 'ilcfrance.orangetools.admin.Trainee.list.breadcrumb'|trans }}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_orangetools_admin_trainee_addGet')}}"> {{ faIco('plus fa-fw')}} {{ 'ilcfrance.orangetools.admin.Trainee.add.breadcrumb'|trans }}</a></li>
</ol>
{%endblock breadcrumb%}
{%block maincontent%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_list') }}" class="btn btn-default">{{ faIco('list fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_export') }}" class="btn btn-default">{{ faIco('file-excel-o fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_addGet') }}" class="btn btn-default">{{ faIco('plus fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_importGet') }}" class="btn btn-default">{{ faIco('plus-circle fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_sendInfos') }}" class="btn btn-default">{{ faIco('envelope fa-fw') }}</a>
		</div>
		<div class="box box-danger">
			<div class="box-header">
				<h3 class="box-title">{{ faIco('user fa-fw')}} <i class="fa fa-plus fa-fw text-red"></i> {{ 'ilcfrance.orangetools.admin.Trainee.add.tlabel'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(TraineeNewForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_trainee_addPost'), 'style': 'horizontal'})}}
				{{form_row(TraineeNewForm.username, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.username.placeholder'}, 'input_group': {'append': faIco('user fa-fw')} })}}
				{{form_row(TraineeNewForm.email, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.email.placeholder'}, 'input_group': {'append': faIco('envelope fa-fw')} })}}
				{{form_row(TraineeNewForm.lastName, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.lastName.placeholder'}, 'input_group': {'append': faIco('info-circle fa-fw')} })}}
				{{form_row(TraineeNewForm.firstName, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.firstName.placeholder'}, 'input_group': {'append': faIco('info-circle fa-fw')} })}}
				{{form_row(TraineeNewForm.phone, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.phone.placeholder'}, 'input_group': {'append': faIco('phone fa-fw')} })}}
				{{form_row(TraineeNewForm.mobile, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.mobile.placeholder'}, 'input_group': {'append': faIco('mobile fa-fw')} })}}
				{{form_row(TraineeNewForm.job, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.job.placeholder'}, 'input_group': {'append': faIco('info fa-fw')} })}}
				{{form_row(TraineeNewForm.level, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.level.placeholder'}, 'input_group': {'append': faIco('info fa-fw')} })}}
				{{form_row(TraineeNewForm.lastName2, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.lastName2.placeholder'}, 'input_group': {'append': faIco('info-circle fa-fw')} })}}
				{{form_row(TraineeNewForm.firstName2, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.firstName2.placeholder'}, 'input_group': {'append': faIco('info-circle fa-fw')} })}}
				{{form_row(TraineeNewForm.email2, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeNewForm.email2.placeholder'}, 'input_group': {'append': faIco('envelope fa-fw')} })}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
					<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o fa-fw')}} {{'ilcfrance.orangetools.admin.TraineeNewForm.btnSubmit'|trans|raw}}</button>
				</div></div>
				{{form_end(TraineeNewForm)}}
			</div>
		</div>
	</div>
</div>
{%endblock maincontent%}