{% extends 'IlcfranceOrangetoolsResBundle::admin.template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_orangetools_admin_homepage')}}"> {{ faIco('home fa-fw')}} {{ 'ilcfrance.orangetools.admin.homepage.breadcrumb'|trans }}</a></li>
	<li><a href="{{ path('ilcfrance_orangetools_admin_trainee_list')}}"> {{ faIco('user fa-fw')}} {{ 'ilcfrance.orangetools.admin.Trainee.list.breadcrumb'|trans }}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_orangetools_admin_trainee_importGet')}}"> {{ faIco('plus-circle fa-fw')}} {{ 'ilcfrance.orangetools.admin.Trainee.import.breadcrumb'|trans }}</a></li>
</ol>
{%endblock breadcrumb%}
{%block maincontent%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_list') }}" class="btn btn-default">{{ faIco('list fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_export') }}" class="btn btn-default">{{ faIco('file-excel-o fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_addGet') }}" class="btn btn-default">{{ faIco('plus fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_importGet') }}" class="btn btn-default">{{ faIco('plus-circle fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_trainee_sendInfos') }}" class="btn btn-default">{{ faIco('envelope fa-fw') }}</a>
		</div>
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title">{{ faIco('user fa-fw')}} <i class="fa fa-plus-circle fa-fw text-green"></i> {{ 'ilcfrance.orangetools.admin.Trainee.import.tlabel'|trans|raw}}</h3>
			</div>
			<div class="box-body">
				{{form_start(TraineeImportForm, {'method':'POST', 'action': path('ilcfrance_orangetools_admin_trainee_importPost'), 'style': 'horizontal'})}}
				{{form_row(TraineeImportForm.excel, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': 'ilcfrance.orangetools.admin.TraineeImportForm.excel.placeholder'}, 'input_group': {'append': faIco('file-excel-o fa-fw')} })}}
				<div class="form-group"><div class="col-lg-offset-3 col-lg-4">
					<button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('floppy-o fa-fw')}} {{'ilcfrance.orangetools.admin.TraineeImportForm.btnSubmit'|trans|raw}}</button>
				</div></div>
				{{form_end(TraineeImportForm)}}
				{% for flashMessage in app.session.flashbag.get('log') %}
				<div class="callout callout-info">
				{{ flashMessage|raw }}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{%endblock maincontent%}
{%block body_scripts%}
{{ parent()}}
<script type="text/javascript">
<!--
$(function() {
	$("#TraineeImportForm_excel").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Excel", browseIcon: '{{faIco('folder-open fa-fw')}}', remove1Class: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});
});
//-->
</script>
{%endblock body_scripts%}