{% extends 'IlcfranceOrangetoolsResBundle::security.template.html.twig' %}
{%block maincontent%}
					{{form_start(LoginForm, {'method':'POST', 'action': path('ilcfrance_orangetools_security_check'), 'style': 'horizontal'})}}
					{%include 'SasedevCommonsBootstrapBundle::flash.html.twig' with { 'close': true }%}
					{{form_row(LoginForm.username, {'label_col': 3, 'widget_col': 9, 'attr': {'placeholder': 'ilcfrance.orangetools.security.LoginForm.username.placeholder'}, 'input_group': {'append': faIco('user fa-fw')} })}}
					{{form_row(LoginForm.password, {'label_col': 3, 'widget_col': 9, 'attr': {'placeholder': 'ilcfrance.orangetools.security.LoginForm.password.placeholder'}, 'input_group': {'append': faIco('lock fa-fw')} })}}
					{{form_row(LoginForm.remember_me, {'label_col': 3, 'widget_col': 9, 'attr': {'align_with_widget': true} })}}
					{{form_row(LoginForm.target_path, {'label_col': 12, 'widget_col': 0})}}
					<div class="row">
						<div class="col-lg-12"><button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('sign-in fa-fw')}} {{'ilcfrance.orangetools.security.LoginForm.btnLogin'|trans|raw}}</button></div>
						<br/>
						<div class="col-lg-12"><button class="btn bg-orange btn-block btn-flat" type="reset">{{faIco('ban fa-fw')}} {{'ilcfrance.orangetools.security.LoginForm.btnReset'|trans|raw}}</button></div>
					</div>
					{{form_end(LoginForm)}}
					<br/>
					<a href="{{ url('ilcfrance_orangetools_security_login') }}" class="btn btn-link text-center"> {{ faIco('sign-in fa-fw') }} {{ 'ilcfrance.orangetools.security.login.link'|trans }}</a><br/>
					<a href="{{ url('ilcfrance_orangetools_security_lostid') }}" class="btn btn-link text-center"> {{ faIco('question fa-fw') }} {{ 'ilcfrance.orangetools.security.lostid.link'|trans }}</a><br/>
					<a href="{{ url('ilcfrance_orangetools_security_lostpassword') }}" class="btn btn-link text-center"> {{ faIco('question fa-fw') }} {{ 'ilcfrance.orangetools.security.lostpassword.link'|trans }}</a><br/>
{%endblock maincontent%}
