{% extends 'IlcfranceOrangetoolsResBundle::security.template.html.twig' %}
{% form_theme LostPasswordForm.captcha _self %}
{% block captcha_widget %}
{% if is_human %}
	<div class="row">
		<div class="col-xs-12">-</div>
	</div>
{% else %}
{% spaceless %}
	<div class="row">
		{% if reload %}
		<div class="col-xs-5">
			<img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" class="img-responsive"/>
		</div>
		<div class="col-xs-1">
			<script type="text/javascript">
			function reload_{{ image_id }}() {
				var img = document.getElementById('{{ image_id }}');
				img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
			}
			</script>
			<a class="captcha_reload" href="javascript:reload_{{ image_id }}();">{{ faIco('refresh fa-2x fa-fw') }}</a>
		</div>
		<div class="col-xs-6">
			{{ form_widget(form) }}
		</div>
		{% else %}
		<div class="col-xs-5">
			<img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
		</div>
		<div class="col-xs-7">
			{{ form_widget(form) }}
		</div>
		{% endif %}
	</div>
{% endspaceless %}
{% endif %}
{% endblock %}
{%block maincontent%}
					{{form_start(LostPasswordForm, {'method':'POST', 'action': url('ilcfrance_orangetools_security_lostpassword_post'), 'style': 'horizontal'})}}
					{%include 'SasedevCommonsBootstrapBundle::flash.html.twig' with { 'close': true }%}
					{{form_row(LostPasswordForm.username, {'label_col': 3, 'widget_col': 9, 'attr': {'placeholder': 'ilcfrance.orangetools.security.LostPasswordForm.username.placeholder'}, 'input_group': {'append': faIco('user fa-fw')} })}}
					{{form_row(LostPasswordForm.captcha, {'label_col': 3, 'widget_col': 9, 'attr': {'placeholder': 'ilcfrance.orangetools.security.LostPasswordForm.captcha.placeholder'}, 'input_group': {'append': faIco('lock fa-fw')} })}}
					<div class="row">
						<div class="col-lg-12"><button class="btn btn-danger btn-block btn-flat" type="submit">{{faIco('envelope fa-fw')}} {{'ilcfrance.orangetools.security.LostPasswordForm.btnSubmit'|trans|raw}}</button></div>
						<br/>
						<div class="col-lg-12"><button class="btn bg-orange btn-block btn-flat" type="reset">{{faIco('ban fa-fw')}} {{'ilcfrance.orangetools.security.LostPasswordForm.btnReset'|trans|raw}}</button></div>
					</div>
					{{form_end(LostPasswordForm)}}
					<br/>
					<a href="{{ url('ilcfrance_orangetools_security_lostpassword') }}" class="btn btn-link text-center"> {{ faIco('question fa-fw') }} {{ 'ilcfrance.orangetools.security.lostpassword.link'|trans }}</a><br/>
					<a href="{{ url('ilcfrance_orangetools_security_login') }}" class="btn btn-link text-center"> {{ faIco('sign-in fa-fw') }} {{ 'ilcfrance.orangetools.security.login.link'|trans }}</a><br/>
					<a href="{{ url('ilcfrance_orangetools_security_lostid') }}" class="btn btn-link text-center"> {{ faIco('question fa-fw') }} {{ 'ilcfrance.orangetools.security.lostid.link'|trans }}</a><br/>
{%endblock maincontent%}
