{% extends 'IlcfranceOrangetoolsResBundle::security.template.html.twig' %}

{%block maincontent%}
					{%include 'SasedevCommonsBootstrapBundle::flash.html.twig' with { 'close': true }%}
					<br/>
					<a href="{{ url('ilcfrance_orangetools_security_login') }}" class="btn btn-link text-center"> {{ faIco('sign-in fa-fw') }} {{ 'ilcfrance.orangetools.security.login.link'|trans }}</a><br/>
					<a href="{{ url('ilcfrance_orangetools_security_lostid') }}" class="btn btn-link text-center"> {{ faIco('question fa-fw') }} {{ 'ilcfrance.orangetools.security.lostid.link'|trans }}</a><br/>
					<a href="{{ url('ilcfrance_orangetools_security_lostpassword') }}" class="btn btn-link text-center"> {{ faIco('question fa-fw') }} {{ 'ilcfrance.orangetools.security.lostpassword.link'|trans }}</a><br/>
{%endblock maincontent%}
