{%if menu_active is not defined%}{%set menu_active=''%}{%endif%}
<ul class="nav navbar-nav">
{% if is_granted('ROLE_USER') %}
								{% if is_granted('ROLE_TRAINEE') %}
								{% if app.user.modulepreinscriptions|length != 0 %}
								<li class="dropdown tasks-menu">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="fa fa-flag-o fa-fw"></i>
										<span class="label label-warning">{{ app.user.modulepreinscriptions|length }}</span>
									</a>
									<ul class="dropdown-menu">
										<li class="header">{{'User.modulepreinscriptions'|trans}} :</li>
										<li>
											<ul class="menu">
												{% for modulepreinscription in app.user.modulepreinscriptions %}
												<li>
													<h5>
														&nbsp; &nbsp; {{ modulepreinscription.moduleformation.title }}
													</h5>
												</li>
												{% endfor %}
											</ul>
										</li>
									</ul>
								</li>
								{% endif %}
								{% if app.user.sessioninscriptions|length != 0 %}
								<li class="dropdown tasks-menu">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="fa fa-bell-o fa-fw"></i>
										<span class="label label-danger">{{ app.user.sessioninscriptions|length }}</span>
									</a>
									<ul class="dropdown-menu">
										<li class="header">{{'User.sessioninscriptions'|trans}} :</li>
										<li>
											<ul class="menu">
											{% for sessioninscription in app.user.sessioninscriptions %}
												<li>
													<h4>
														&nbsp; &nbsp; {{ sessioninscription.sessionformation.title }}
														<small>
															- {{ sessioninscription.sessionformation.location }} - {{ sessioninscription.sessionformation.dtStart|date('d/m/Y', timezone) }} {{faIco('at fa-fw')}} {{ sessioninscription.sessionformation.dtStart|date('H:i:s', timezone) }})
														</small>
													</h4>
												</li>
											{% endfor %}
											</ul>
										</li>
									</ul>
								</li>
								{% endif %}
								{% endif %}
								<li class="dropdown user user-menu{% if menu_active == 'profile' %} active{% endif %}">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										{{ faIco('user-secret fa-fw') }} {{ app.user.fullName}} {{ faIco('caret-down fa-fw') }}
									</a>
									<ul class="dropdown-menu">
										<li class="user-header">
											<p>
												{{ app.user.fullName}}
												- <small>{{ app.user.dtCrea|localeDate('short') }}</small>
												{% if is_granted('ROLE_TRAINEE') %}
												{% if app.user.job is not empty %}
												<br/>{{ app.user.job }}
												{% endif %}
												{% if app.user.level is not empty %}
												<br/>{{ 'User.level'|trans }} : {{ app.user.level }}
												{% endif %}
												{% endif %}
											</p>
										</li>
										<li class="user-footer">
											<div class="pull-left">
												<a href="{{ path('ilcfrance_orangetools_security_profile') }}" class="btn btn-default btn-flat">{{ faIco('user-secret fa-fw') }} {{ 'ilcfrance.orangetools.security.profile.menu' | trans}}</a>
											</div>
											<div class="pull-right">
												<a href="{{ path('ilcfrance_orangetools_security_logout') }}" class="btn btn-default btn-flat">{{ faIco('sign-out fa-fw') }} {{ 'ilcfrance.orangetools.security.logout.menu' | trans}}</a>
											</div>
										</li>
									</ul>
								</li>
								{% else %}
								<li class="dropdown{% if menu_active=='security'%} active{% endif %}">
									<a href="#" class="dropdown-toggle{% if menu_active=='security'%} active{% endif %}" data-toggle="dropdown">
										{{ faIco('user-secret fa-fw') }}
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="{{ path('ilcfrance_orangetools_security_login') }}">{{ faIco('sign-in fa-fw')}} {{ 'ilcfrance.orangetools.security.login.menu'|trans }}</a>
										</li>
										<li class="divider" role="separator"></li>
										<li>
											<a href="{{ path('ilcfrance_orangetools_security_lostid') }}">{{ faIco('question fa-fw')}} {{ 'ilcfrance.orangetools.security.lostid.menu'|trans }}</a>
										</li>
										<li>
											<a href="{{ path('ilcfrance_orangetools_security_lostpassword') }}">{{ faIco('question fa-fw')}} {{ 'ilcfrance.orangetools.security.lostpassword.menu'|trans }}</a>
										</li>
									</ul>
								</li>
								{% endif %}
								<li>&nbsp; &nbsp; &nbsp;</li>
							</ul>