{{ faIco('calendar fa-fw bg-blue')}}
		<div class="timeline-item">
			<span class="time">{{ faIco('calendar fa-fw') }} &nbsp; {{ trace.dtCrea|localeDate('long')  }} &nbsp; {{ faIco('clock-o fa-fw') }} &nbsp; {{ trace.dtCrea|localeDate('none', 'medium')  }}</span>
			<h3 class="timeline-header"> {{ ('Entity.'~trace.actionEntity~'.new')|trans }} <span class="pull-right">(<b>{{ trace.userFullName }}</b>)</span></h3>
			<div class="timeline-body">
				<table class="table table-bordered table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th class="text-left" style="width: 33%">{{'Entity.field' | trans}}</th>
							<th class="text-left">{{'Entity.val' | trans}}</th>
						</tr>
					</thead>
					<tbody>
					{% for entityFieldName, entityFieldValue in trace.decodedMsg %}
						<tr>
							<td>
								{{ (trace.actionEntity~'.'~entityFieldName)|trans }}
							</td>
							<td>
								{% if entityFieldValue != null %}
									{% if entityFieldName == 'id' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'code' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'title' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'dtStart' %}
										{{ date(entityFieldValue)|date('d/m/Y', timezone) }}
										{{faIco('at fa-fw')}}
										{{ date(entityFieldValue)|date('H:i:s', timezone) }}
									{% elseif entityFieldName == 'dtEnd' %}
										{{ date(entityFieldValue)|date('d/m/Y', timezone) }}
										{{faIco('at fa-fw')}}
										{{ date(entityFieldValue)|date('H:i:s', timezone) }}
									{% elseif entityFieldName == 'location' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'phoneContactCenter' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'conditionsReport' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'dtInfo' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'otherInfos' %}
										{{ entityFieldValue|raw }}
									{% elseif entityFieldName == 'maxParticipants' %}
										{{ entityFieldValue }}
									{% elseif entityFieldName == 'lockout' %}
										{{ ('Sessionformation.lockout.'~entityFieldValue)|trans }}
									{% elseif entityFieldName == 'dtCrea' %}
										{% if entityFieldValue.timezone_type != 3 %}
										{{ date(entityFieldValue.date~ ' ' ~entityFieldValue.timezone)|localeDate('short', 'long') }}
										{% else %}
										{{ date(entityFieldValue.date, entityFieldValue.timezone)|localeDate('short', 'long') }}
										{% endif %}
									{% elseif entityFieldName == 'dtUpdate' %}
										{% if entityFieldValue.timezone_type != 3 %}
										{{ date(entityFieldValue.date~ ' ' ~entityFieldValue.timezone)|localeDate('short', 'long') }}
										{% else %}
										{{ date(entityFieldValue.date, entityFieldValue.timezone)|localeDate('short', 'long') }}
										{% endif %}
									{% elseif entityFieldName == 'moduleformation' %}
										<a href="{{ path('ilcfrance_orangetools_admin_moduleformation_editGet', {'id': entityFieldValue.id}) }}">{{ entityFieldValue.code }} {{ entityFieldValue.title }}</a>
									{% elseif entityFieldName == 'sessioninscriptions' %}
										{% for key, sessioninscription in entityFieldValue %}
											- <a href="{{ path('ilcfrance_orangetools_admin_sessioninscription_editGet', {'id': sessioninscription.id})}}">{{ sessioninscription.user.username }}</a><br/>
										{% endfor %}
									{% endif %}
								{% else %}
									{{ bsLabelWarning('value.null'|trans) }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

			</div>
			<div class="timeline-footer">
				<a class="btn btn-default btn-xs" href="{{ path('ilcfrance_orangetools_admin_sessionformation_editGet', {'id': trace.actionId}) }}">{{ faIco('edit fa-fw') }}</a>
			</div>
		</div>