{% extends 'IlcfranceOrangetoolsResBundle::admin.template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_orangetools_admin_homepage')}}"> {{ faIco('home fa-fw')}} {{ 'ilcfrance.orangetools.admin.homepage.breadcrumb'|trans }}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_orangetools_admin_moduleformation_list')}}"> {{ faIco('book fa-fw')}} {{ 'ilcfrance.orangetools.admin.Moduleformation.list.breadcrumb'|trans }}</a></li>
</ol>
{%endblock breadcrumb%}
{%block maincontent%}
<div class="row">
	<div class="col-lg-12">
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_orangetools_admin_moduleformation_list') }}" class="btn btn-default">{{ faIco('list fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_moduleformation_export') }}" class="btn btn-default">{{ faIco('file-excel-o fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_moduleformation_addGet') }}" class="btn btn-default">{{ faIco('plus fa-fw') }}</a>
			<a href="{{ path('ilcfrance_orangetools_admin_moduleformation_importGet') }}" class="btn btn-default">{{ faIco('plus-circle fa-fw') }}</a>
		</div>
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ faIco('book fa-fw')}} <i class="fa fa-list fa-fw text-aqua"></i> {{ 'ilcfrance.orangetools.admin.Moduleformation.list.tlabel'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table id="moduleformationList" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>{{ 'ilcfrance.orangetools.admin.Moduleformation.groupmodule.label'|trans|raw }}</th>
							<th>{{ 'ilcfrance.orangetools.admin.Moduleformation.code.label'|trans|raw }}</th>
							<th>{{ 'ilcfrance.orangetools.admin.Moduleformation.title.label'|trans|raw }}</th>
							<th>{{ 'ilcfrance.orangetools.admin.Moduleformation.sessionformations.label'|trans|raw }}</th>
							<th>{{ 'ilcfrance.orangetools.admin.Moduleformation.modulepreinscriptions.label'|trans|raw }}</th>
							<th>{{ 'ilcfrance.orangetools.admin.Moduleformation.dtCrea.label'|trans|raw }}</th>
							<th>{{ 'actions.label'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% if moduleformations|length != 0 %}
						{% for moduleformation in moduleformations %}
						<tr>
							<td><a href="{{ path('ilcfrance_orangetools_admin_groupmodule_editGet', {'id': moduleformation.groupmodule.id}) }}">{{ moduleformation.groupmodule.name }}</a></td>
							<td>{{ moduleformation.code }}</td>
							<td>{{ moduleformation.title }}</td>
							<td class="text-right">{% if moduleformation.sessionformations|length == 0%}{{ moduleformation.sessionformations|length }}{% else %}<a href="{{ path('ilcfrance_orangetools_admin_sessionformation_listByModuleformation', {'id': moduleformation.id}) }}">{{ moduleformation.sessionformations|length }}</a>{% endif %}</td>
							<td class="text-right">{% if moduleformation.modulepreinscriptions|length == 0%}{{ moduleformation.modulepreinscriptions|length }}{% else %}<a href="{{ path('ilcfrance_orangetools_admin_modulepreinscription_listByModuleformation', {'id': moduleformation.id}) }}">{{ moduleformation.modulepreinscriptions|length }}</a>{% endif %}</td>
							<td class="text-right">{{ moduleformation.dtCrea|date('Y-m-d') }} {{faIco('at fa-fw')}} {{ moduleformation.dtCrea|localeDate('none', 'long') }}</td>
							<td class="text-right">
								<a class="btn btn-sm btn-info" href="{{path('ilcfrance_orangetools_admin_moduleformation_editGet',{'id':moduleformation.id})}}">{{ faIco('edit fa-fw') }} {{ 'action.edit'|trans }}</a>
								<a class="btn btn-sm btn-danger deleteConfirmModuleformation" href="{{path('ilcfrance_orangetools_admin_moduleformation_delete',{'id':moduleformation.id})}}">{{ faIco('trash fa-fw') }} {{ 'action.delete'|trans }}</a>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="7">{{ 'ilcfrance.orangetools.admin.Moduleformation.empty'|trans|raw }}</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="deleteConfirmModuleformation" class="modal fade in" tabindex="-1" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">{{'ilcfrance.orangetools.admin.Moduleformation.delete.confirm.title'|trans|raw}}</h3>
	</div>
	<div class="modal-body">
		{{'ilcfrance.orangetools.admin.Moduleformation.delete.confirm.txt'|trans|raw}}
	</div>
	<div class="modal-footer">
		<a href="" class="btn btn-xs btn-danger danger">{{'action.ok'|trans|raw}}</a>
		<button type="button" class="btn btn-xs btn-default" data-dismiss="modal">{{'action.cancel'|trans|raw}}</button>
	</div>
</div>
{%endblock maincontent%}
{%block body_scripts%}
{{ parent()}}
<script type="text/javascript">
<!--
$(function() {
	{% if moduleformations|length != 0 %}
	$('#moduleformationList').dataTable({
		"bAutoWidth": false,
		"language": {"url": '{{asset('assets/bower/datatables-i18n/i18n/')~app.request.locale~".json"}}'},
		"columns": [
			null,
			null,
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10,
		fnDrawCallback : function() {
			$('.deleteConfirmModuleformation').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmModuleformation').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmModuleformation').modal('show');
			});
		}
	});
	{% endif %}
});
//-->
</script>
{%endblock body_scripts%}